body {
    font-family: system-ui, sans-serif;
    background: #A3C1AD;
    color: #000000;
}

#cat {
    width: 6.5em;
    height: 7.5em;
    margin: 5px 5px 5px 5px;
    background-image: url('./images/cat.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
}

#banner {
    text-align: center;
    background: #FFFFFF;

    width: 50em;
    /*width: calc(100% - 2rem);*/
    /*max-width: 50em;*/

    margin: 1em auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1.5em;
}

#banner h1 {
    margin: 5px 0 5px .05em;
    /*text-shadow: 3px 3px 0 #bbbbbb;*/
    font-size: 3em;
}

#banner h1>a {
    color: #000000;
    transition: none;
}

#banner h2 {
    margin: 5px 0 15px .05em;
    /*text-shadow: 1.5px 1.5px 0 #bdbdbd;*/
    font-size: 1.5em;
}

#banner h2>a {
    color: #000000;
    transition: none;
}

#banner ul {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    list-style: none;
}

#banner li {
    display: inline;
    padding: 0 1em;
}

#banner li>a {
    color: #696969;
    white-space: nowrap;
    font-size: 100%;
}

#banner li>a:hover,
#banner li>a:active {
    color: #000000;
}

#featured {
    text-align: left;
    background: #FFFFFF;

    width: 50em;

    margin: 1em auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1.5em;
}

#featured li {
    display: inline;
    padding: 0 1em;
}

#featured li>a {
    color: #696969;
    white-space: nowrap;
    font-size: 100%;
}

a {
    color: #3357D6;
    text-decoration: none;
    transition: color 0.25s;
}

a:visited {
    color: #865796;
    text-decoration: none;
}
